<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hirely</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container">

        <%- include("partials/sidebar") %>

        <%- include("partials/dashboard") %>

    </div>

    <script src="/js/upload.js"></script>
    <script src="/js/selection.js"></script>
    <script src="/js/screening.js"></script>
</body>

</html>